footer{
    display: flex;
    justify-content: space-between;
    color:whitesmoke;
    padding:20px;
    background-image:linear-gradient(to top, rgb(0, 0, 0) , rgb(233, 227, 227) );
    position:absolute;
    margin-bottom: 0%;
    width:100%; 
}

.footer__maps{
    flex: 1;
    max-width: 50%;    
}

.footer__maps-iframe{
    height: 50%;
    width: 50%;
}

.footer__text{
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer__socialmedia{
    flex: 1;
    display: flex;
    justify-content: end;
    align-content: center;
}

.footer__socialmedia a {
    margin: 5px;
}
